extends layout

block content
  include includes/header.pug

  main.w-100.fl.bgc1.p15.reports
    .w300.bgc0.fl.br7.p10
      h4 Buscar sessões por:
      form(action="/reports/data", method="GET")
        .w-100.mt25
          label(class="fs13") Código do produto
          input(type="text", name="productCode", class="w-100")
        
        .w-100.mt25
          label(class="fs13") Nome do usuário
          input(type="text", name="userName", class="w-100")
        
        .w-100.mt25.fl
          .w-50.fl
            label(class="fs13", for="uf-select") Estado
            select(name="uf", id="uf-select", class="js-uf-select")
              option(value="")
              each state in states
                option(value=state.sigla.toLowerCase())= state.nome
          .w-50.fl
            label(class="fs13", for="cities-select") Cidade
            select(name="city", id="cities-select", class="w-100 js-city-select")
              option(value="")

        .w-100.mt25.fl
          .w-50.fl
            input(type="radio", name="completed", value="false", id="not-completed")
            label(class="fs13", for="not-completed") Não finalizadas
          .w-50.fl
            input(type="radio", name="completed", value="true", id="completed")
            label(class="fs13", for="completed") Finalizadas
        
        .w-100.mt25.fl
          button(type="submit") Buscar
    
    .bgc0.fr.br7.p10.reports-results
      if sessions
        .reports-results-header
          strong Resultados #{sessions.length}
        
        ul
          each session in sessions
            li.session.js-session
              .always-visible
                div= session.userName
                div= (session.city ? session.city + '/' : '') + session.uf.toUpperCase()
                div= (session.completed ? 'Finalizada' : 'Não finalizada')
              .to-toggle
                if session.userEmail != ''
                  .user-email
                    strong E-mail: 
                    span= session.userEmail

                .visited-pages
                  strong Páginas visitadas
                  div= session.navigation.join(' / ')

                    //- each nav in session.navigation
                      //- span  nav
                
                .cart-entries
                  strong Produtos
                  ul
                    each entry in session.cart
                      li
                        div
                          p= entry.name
                          p= entry.code
                        div= entry.price
                        div= entry.quantity
                        
                        
block js
  script(src="/js/reports.js")